main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
aside{
  flex: 1;
  width: 40%;
  height: 100%;
  border-right: 2px solid black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
}
aside > h1{
  font-size: xx-large;
  word-wrap: break-word;
  font-weight: bold;
}
aside > table{
  width: 100%;
  font-size: x-large;
  text-align: left;
}
td{
  width: 100%;
  border-top: 1px solid black;
}
td > a{
  width: 100%;
  margin-left: 10px;
  line-height: 300%;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
article{
  flex: 1;
  width: 60%;
  position: relative;
  left: 40%;
}
article > div{
  margin: 5px 0 5px 15px;
  padding: 5px 0 5px 15px;
  border-bottom: 1px solid;
}
.sectionHeading{
  text-transform: capitalize;
}

@media screen and (max-device-width: 600px) {
  main{
    flex-direction: column;
  }
  aside{
    flex: 1;
    width: 100%;
    height: 50px;
    position: relative;
    border-right: none;
    border-bottom: 5px dashed black;
    background-color: red;
  }
  aside > table{
    height: 40px;
    font-size: medium;
  }
  article{
    flex: 1;
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    margin-top: 10px;
  }
  article > div{
    margin: auto;
  }
}